# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/sueAris.code-workspace
mysql/.vscode/settings.json
py/mysql2mssql/__pycache__/export.cpython-37.pyc
py/mysql2mssql/.vscode/launch.json
py/mysql2mssql/env
py/mysql2mssql/env3

py/mysql2mssql/__pycache__/export.cpython-36.pyc
__suetest.txt
_suetest/__suetest.txt

# jvv, for emacs:
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock

# jvv, for vim:
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# jvv, excluding sensitive files
envvars.filedb
spark-ingest-lsst-object-parquet
spark-ingest-lsst-source-parquet
spark-ingest-ms-clickstream-example
# hope "*.key" isn't too broad; meant for certificate keys like Aris/kube/pki.filedbcluster/ca.key
*.key
/.project
